name: CI

on:
  push:
    branches:
      - master
      - 'spike/**'
  pull_request:
    branches: [ master ]
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - 'Versionize/**'
      - 'Versionize.Tests/**'
      - 'Versionize.sln'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Setup .NET 10.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Test
      run: dotnet test --logger "trx" /p:CollectCoverage=true /p:CoverletOutputFormat=lcov  /p:ExcludeByFile="**/PlatformAbstractions.cs"

    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: test-results
        path: Versionize.Tests/TestResults/*.trx

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: './Versionize.Tests/coverage.net10.0.info'
