name: 'Test Report'
on:
  workflow_run:
    workflows: ['CI']
    types:
      - completed

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: XUnit Tests
        path: Versionize.Tests/TestResults/*.trx
        reporter: dotnet-trx

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: './Versionize.Tests/coverage.net6.0.info'
